$govuk-font-family:  'Space Mono', monospace;
@import "node_modules/govuk-frontend/govuk/all";
@import "forward";
@import './haroldhill.scss';
@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src:
    govuk-font-url("light-94a07e06a1-v2.woff2") format("woff2"),
    govuk-font-url("light-f591b13f7d-v2.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src:
    govuk-font-url("bold-b542beb274-v2.woff2") format("woff2"),
    govuk-font-url("bold-affa96571d-v2.woff") format("woff");
  font-display: fallback;
}
.app-back-to-top {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

@include govuk-media-query($from: tablet) {
  .app-back-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-top: auto;
    margin-bottom: govuk-spacing(8);
  }

  .js-enabled .app-back-to-top--fixed {
    position: fixed;
    top: calc(100% - #{govuk-spacing(8)});
    bottom: auto;
    right: auto;
  }

  .js-enabled .app-back-to-top--hidden .app-back-to-top__link {
    @include govuk-visually-hidden-focusable;
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -(govuk-spacing(1));
  margin-right: govuk-spacing(2);
  vertical-align: middle;
}

