@import "node_modules/govuk-frontend/govuk/all";

blockquote {
  padding-left: 10%
}
@include govuk-media-query($until: tablet) {
  blockquote {
    padding-left: 5%
  }
}
.article {
  background-image: url("data:image/svg+xml,%3Csvg id='main-box' viewBox='0 0 2000 500' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E rect %7B fill:rgba(255,248,220,.3); %7D %3C/style%3E%3Crect x='190' y='0' width='90%25' height='100%25' transform='skewX(-20)' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}
